<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="pwa">
      <ion-icon name="albums-outline"></ion-icon>
      <ion-label>PWAs</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="home">
      <ion-icon name="mail-unread-outline"></ion-icon>
      <ion-label>Push</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="settings">
      <ion-icon name="infinite-outline"></ion-icon>
      <ion-label>Settings</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
